In [1]:
# What is Programming : The way of telling computer to what to do. The set of rules or instrustions which tells machines to perform certain tasks.
# There so many languages are avaliable:
# 1) C
# 2) Java 
# 3) C++ 
# 4) Python 
# 5) SQL ,etc
# Python : It is Dynamically typed, general purpose langauage that supports an object oriented programming approach as well as functional programming aproach
#- It was created by Guido Van Rossum in 1991. They are watching a show name monty python circus on tv when he was working on python and thought why not name it as python.

In [2]:
print("Hello World!")

Hello World!

In [3]:
"Hello world"

'Hello world'

In [4]:
'Hello World'

'Hello World'

In [5]:
# Features of Python:
# -It is Simple and easy.
# -It is open source programming language.
# -It is interpreted & platform - independent which make debugging very +
# -It provide very big library's support.
# -It is possible to integrate other programming languages within python

In [6]:
# Escape sequence Character: It is backslash \ followed by char you want to insert.
#print("This doesn't "execute")
print("This doesn't \n execute")

This doesn't
 execute

In [5]:
print ("Hey Bharti! How’s everything going? Are you working on any new projects or \nfocusing more on freelancing these days?")

Hey Bharti! How’s everything going? Are you working on any new projects or
focusing more on freelancing these days?

In [6]:
print("Hey Kunal! \nWhat are you doing?")

Hey Kunal!
What are you doing?

In [ ]:
# *Variable* : The Container that holds data. it is smililer to the object. variables can store any type of data.	Variables are dynamic.
# Syntax:
# Variable_name = value

In [7]:
a= ("Bhushan Mule")
print(a)

Bhushan Mule

In [8]:
x=10 # storing value 10 in variable x.
print(x) # printing value

10

In [9]:
age = 21
print(age)

21

In [10]:
is_active= True
print(is_active)

True

In [1]:
a= 10
b= 20
result= a + b
print(result)

30

*STRING OPERATION*:

print result with string

In [ ]:
9515028827

In [6]:
a=10
b=30
c=a+b
print('Additinon of', a , 'and' , b , 'is=' , c)

Additinon of 10 and 30 is= 40

In [11]:
name="Kunal"
age =  21
live= "csn"

print("Hello! \nI am",name, "\nmy age is",age, "\ni live in", live)

Hello!
I am Kunal
my age is 21
i live in csn

#print Format method

-first deside how the print statement should be 

-like:- The addition of 20 and 30 is = 50  

-then replace the variable position with curly brtacesm { } 

-then appply .format(val1,val2,....val-n methodm

In [12]:
num1=20 
num2=30 
add=num1+num2 
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 20 and 30 is= 50

In [15]:
a=40
b=3
sub=a-b
print('The substraction of {} and{} is={}'.format(a,b,sub))

The substraction of 40 and3 is=37

In [16]:
name= "hemant"
c="IT vedant"
age=22
print('Hii im {} my age is {} i recently join the {} '.format(name,age,c))

Hii im hemant my age is 22 i recently join the IT vedant

In [17]:
num1=100 
num2=25 
num3=333 
num1=20 
num2=30 
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2) 
avg1=round((num1+num2+num3)/3,2) 
# The avrage of num1,num2,num3 is = avg 
print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, 
avg,avg1)) # here we can use round(avg,2) also

The avrage of 20, 30, and 333 is= 127.66666666666667 or 127.67

In [24]:
round(avg,2)
#round is used for removing the value after the "." 
#round (avg,3------we can get what we put

127.67

More short format meythod(f string method) 

-variable should be in curly braces 

-and write everything inside quots '' 

-at starting simpaly add f

In [ ]:
a=10
b=30
c=a+b
print(f"Addition of {a} and {b} is {c}")

In [26]:
name = "Bhushan"
live= "Hyderabad"
age= 21
print(f"Hii My name is {name}. \nI live in {live}. \nMy age is {age}")

Hii My name is Bhushan.
I live in Hyderabad.
My age is 21

In [28]:
#let combine all 
num1=10 
num2=20 
add = num1+ num2 
print('The addition of',num1,'and',num2,'is=',add) 
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}') 

#three methods gives same output

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

End statement

In [29]:
print('hello') # 1st statement 
print('good moorning') # 2nd statement) 
# i want print like:- hellow good morning

hello
good moorning

In [31]:
# Here we will use end statement that joint line from end of one string to starting of other string.
print("Hello ",end='') #printing both line in single line
print("Have a great day !")

Hello Have a great day !

Python Keywords: Keywords are the predifine or reserved words in python which is used for defining the syntax of python.

Examples:['False','None','True','and','as','assert','async','await','break','class','continue','def','del','elif','else','except','finally','for','from','global','if','import','in','is','lambda','nonlocal','not',' or','pass','raise','return','try','while','with','yield']

seprator :
 
-here one print statement only we use 
 
-insisde one print statement we have multipal values 
 
-we want to seperate these multipal values with anything

In [33]:
print('hello','hiiiii','how are you',sep='--->')

hello--->hiiiii--->how are you

In [34]:
print('hello','hiiiiii','how are you',sep='&')

hello&hai&how are you

In [35]:
print('hello','hiiiiii','how are you',sep='@')

hello@hiiiiii@how are you

In [36]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [37]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [38]:
print(3,'.',sep='') # see now space setteld(also use to remove space B/W words)

3.

In [40]:
print(1,2,end=' ') 
print(3,'.',sep='') 
# will print 1 2 3.

1 2 3.

In [41]:
## String Methods

In [42]:
# capitalize(): Converts the first character the string to Capital Letter
challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [67]:
a="hii good evening!"
print(a.capitalize())

Hii good evening!

In [43]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..)

challenge = 'thirty days of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1
print(challenge.count('th')) # 2`

3
1
2

In [72]:
a="hii good evening!"
print(a.count('o'))

2

In [44]:
# endswith(): Checks if a string ends with a specified ending

challenge = 'thirty days of python'
print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [76]:
a="hii good evening!"
print(a.endswith('ng!'))

True

In [45]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument\
challenge = 'thirty\tdays\tof\tpython'
print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty  days    of      python
thirty    days      of        python

In [78]:
a="hii\tgood\tevening!"
print(a.expandtabs())

hii     good    evening!

In [46]:
# find(): Returns the index of first occurrence of substring

challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [79]:
a="hii good evening!"
print(a.find('e'))

9

In [47]:

# format()	formats string into nicer output    
first_name = 'Asabeneh'
last_name = 'Yetayeh'
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence) # I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

In [48]:
radius = 10
pi = 3.14
area = pi # radius ## 2
result = 'The area of circle with {} is {}'.format(str(radius), str(area))
print(result) # The area of circle with 10 is 314.0

The area of circle with 10 is 3.14

In [49]:

# index(): Returns the index of substring
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [50]:
# isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

True
True
False
False

In [51]:
# isalpha(): Checks if all characters are alphabets

challenge = 'thirty days of python'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())      # False

False
False

In [52]:
# isdecimal(): Checks Decimal Characters

challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [54]:
# isdigit(): Checks Digit Characters

challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True

False
True

In [55]:
# isdecimal():Checks decimal characters

num = '10'
print(num.isdecimal()) # True
num = '10.5'
print(num.isdecimal()) # False

True
False

In [56]:
# isidentifier():Checks for valid identifier means it check if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [57]:
# islower():Checks if all alphabets in a string are lowercase

challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False

True
False

In [58]:
# isupper(): returns if all characters are uppercase characters

challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

False
True

In [59]:
# isnumeric():Checks numeric characters

num = '10'
print(num.isnumeric())      # True
print('ten'.isnumeric())    # False

True
False

In [60]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#, '.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML#, CSS#, JavaScript#, React

In [61]:
# strip(): Removes both leading and trailing characters

challenge = ' thirty days of python '
print(challenge.strip('y')) # 5

 thirty days of python

In [62]:
# replace(): Replaces substring inside

challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [63]:
# split():Splits String from Left

challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']

['thirty', 'days', 'of', 'python']

In [64]:
# title(): Returns a Title Cased String

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [65]:
# swapcase(): Checks if String Starts with the Specified String
  
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [66]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True
challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

*VARIABLES*:

In [12]:
# Variables in Python
first_name = 'Kunal'
last_name = 'Gaikwad'
country = 'India'
city = 'TELENGANA'
age = 21
is_married = False
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'BHushan ', 
    'lastname':'Mule', 
    'country':'India',
    'city':'Beed'
    }

In [15]:
# Printing the values stored in the variables

print('First name:' , first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Kunal
First name length: 5
Last name:  Gaikwad
Last name length:  7
Country:  India
City:  TELENGANA
Age:  21
Married:  False
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'BHushan ', 'lastname': 'Mule', 'country': 'India', 'city': 'Beed'}

Declaring multiple variables in one line:

In [25]:
# Declaring multiple variables in one line
first_name, last_name, country, age, is_married = 'Bhushan', 'Mule', 'India', 21, True


print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

First name: Bhushan
Last name:  Mule
Country:  India
Age:  21
Married:  True

In [26]:
f_name, l_name , country, state, mobile_num, age, gender = 'Kunal', 'Gaikwad', 'India' , 'Maharashtra' , 7249102868, 21, 'Male' 

print("First Name:",f_name)
print("Last Name:", l_name)
print("Country:" ,country)
print("State:" , state)
print("Mobile Number:", mobile_num)
print("Age:", age)
print("Gender:" , gender)

First Name: Kunal
Last Name: Gaikwad
Country: India
State: Maharashtra
Mobile Number: 7249102868
Age: 21
Gender: Male

Single line comment:

In [ ]:
# Single line comment
letter = 'P'                # A string could be a single character or a bunch of texts
print(letter)               # P
print(len(letter))          # 1
greeting = 'Hello, World!'  # String could be  a single or double quote,"Hello, World!"
print(greeting)             # Hello, World!
print(len(greeting))        # 13
sentence = "I hope you are enjoying 30 days of python challenge"
print(sentence)

Multiline String:

In [28]:
# Multiline String
multiline_string = '''I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.'''
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

In [27]:
# Another way of doing the same thing
multiline_string = """I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python."""
print(multiline_string)

I am a teacher and enjoy teaching.
I didn't find anything as rewarding as empowering people.
That is why I created 30 days of python.

Concatenating String - adding two variable

In [29]:
# Concatenating String - adding two variable 
first_name = "Kunal" 
last_name = "Gaikwad"
full_name = first_name + " " +last_name
print (full_name)

Kunal Gaikwad

In [31]:
# Checking length of a string using len() builtin function
print(len(first_name))  # 5
print(len(last_name))   # 7
print(len(first_name) > len(last_name)) # True
print(len(full_name)) # 13

5
7
False
13

Type Function :

In [33]:
# Type Function - Used for to understand which type data is to be store in variable.
a=10
type(a)

int

In [34]:
x= 32.0
type(x)

float

Unpacking characters :

In [ ]:
#### Unpacking characters 
language = 'Python'
a,b,c,d,e,f = language # unpacking sequence characters into variables
print(a) # P
print(b) # y
print(c) # t 
print(d) # h
print(e) # o
print(f) # n

In [ ]:
name = "Kunal"
a,b,c,d,e = name
print(c)
print(a)

In [ ]:
animal= "dog"
a,b,c=animal
print(b)

In [ ]:
car = "Porsche"
a,b,c,d,e,f,g=car
print(b)

Accessing characters in strings by index:

In [ ]:
# Accessing characters in strings by index
language = 'Python'
first_letter = language[0]
print(first_letter) # P
second_letter = language[1]
print(second_letter) # y
last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter) # n

In [ ]:
name= "kunal"
first_letter= name[0]
print(first_letter)

second_letter= name[1]
print(second_letter)

last_index = len(name) - 1
last_letter = name[last_index]
print(last_letter)

In [ ]:
# If we want to start from right end we can use negative indexing. -1 is the last index
language = 'Python'
last_letter = language[-1]
  print(last_letter) # n
second_last = language[-2]
print(second_last) # o

In [ ]:
name="Bhushan"
last_letter=name[-1]
print(last_letter)

second_last=name[-2]
print(second_last)

Slicing:

In [74]:
# Slicing
language = 'Pythonk'
first_three = language[0:3] # starts at zero index and up to 3 but not include 3
last_three = language[3:6]
print(last_three) # hon

hon

In [75]:

# Another way
last_three = language[-3:]
print(last_three)   # hon
last_three = language[3:]
print(last_three)   # hon

onk
honk

In [76]:
name= "Hemant"

f_two=name[0:2]
l_two=name[2:6]

print(f_two)
print(l_two)

He
mant

In [77]:
# Skipping character while splitting Python strings
language = 'Python'
pto = language[0:6:2] # 
print(pto) # pto

Pto

In [78]:
name= "Bhushanmule"
a= name[0:11:4]
print(a)

Bhu

In [79]:
name = "kunalgaikwad"
b= name[0:12:3]
print(b)

kaaw

In [70]:
#to reverse a string 
name= "hemant"
revers=name[::-1]
print(revers)

tnameh

String Methods:

In [80]:
## String Methods
# capitalize(): Converts the first character the string to Capital Letter

challenge = 'thirty days of python'
print(challenge.capitalize()) # 'Thirty days of python'

Thirty days of python

In [7]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..)

challenge = 'thirty days of python'
print(challenge.count('y')) # 3
print(challenge.count('y', 7, 14)) # 1
print(challenge.count('th')) # 2`

3
1
2

In [8]:
# endswith(): Checks if a string ends with a specified ending

challenge = 'thirty days of python'
print(challenge.endswith('on'))   # True
print(challenge.endswith('tion')) # False

True
False

In [9]:
# expandtabs(): Replaces tab character with spaces, default tab size is 8. It takes tab size argument

challenge = 'thirty\tdays\tof\tpython'
print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty  days    of      python
thirty    days      of        python

In [10]:
# find(): Returns the index of first occurrence of substring

challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [11]:
# format()	formats string into nicer output    
first_name = 'Asabeneh'
last_name = 'Yetayeh'
job = 'teacher'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence) # I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

I am Asabeneh Yetayeh. I am a teacher. I live in Finland.

In [12]:
radius = 10
pi = 3.14
area = pi # radius ## 2
result = 'The area of circle with {} is {}'.format(str(radius), str(area))
print(result) # The area of circle with 10 is 314.0

The area of circle with 10 is 3.14

In [13]:

# index(): Returns the index of substring
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [14]:
# isalnum(): Checks alphanumeric character

challenge = 'ThirtyDaysPython'
print(challenge.isalnum()) # True

challenge = '30DaysPython'
print(challenge.isalnum()) # True

challenge = 'thirty days of python'
print(challenge.isalnum()) # False

challenge = 'thirty days of python 2019'
print(challenge.isalnum()) # False

True
True
False
False

In [15]:
# isalpha(): Checks if all characters are alphabets

challenge = 'thirty days of python'
print(challenge.isalpha()) # True
num = '123'
print(num.isalpha())      # False

False
False

In [16]:
# isdecimal(): Checks Decimal Characters

challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0

5
0

In [18]:

# isdigit(): Checks Digit Characters

challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True

False
True

In [19]:
# isdecimal():Checks decimal characters

num = '10'
print(num.isdecimal()) # True
num = '10.5'
print(num.isdecimal()) # False

True
False

In [20]:
# isidentifier():Checks for valid identifier means it check if a string is a valid variable name

challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

In [21]:
# islower():Checks if all alphabets in a string are lowercase

challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False

True
False

In [23]:
# isupper(): returns if all characters are uppercase characters

challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

False
True

In [24]:
# isnumeric():Checks numeric characters

num = '10'
print(num.isnumeric())      # True
print('ten'.isnumeric())    # False

True
False

In [25]:
# join(): Returns a concatenated string

web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = '#, '.join(web_tech)
print(result) # 'HTML# CSS# JavaScript# React'

HTML#, CSS#, JavaScript#, React

In [26]:
# strip(): Removes both leading and trailing characters

challenge = ' thirty days of python '
print(challenge.strip('y')) # 5

 thirty days of python

In [27]:
# replace(): Replaces substring inside

challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [28]:
# split():Splits String from Left

challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']

['thirty', 'days', 'of', 'python']

In [29]:
# title(): Returns a Title Cased String

challenge = 'thirty days of python'
print(challenge.title()) # Thirty Days Of Python

Thirty Days Of Python

In [30]:
# swapcase(): Checks if String Starts with the Specified String
  
challenge = 'thirty days of python'
print(challenge.swapcase())   # THIRTY DAYS OF PYTHON
challenge = 'Thirty Days Of Python'
print(challenge.swapcase())  # tHIRTY dAYS oF pYTHON

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON

In [31]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True
challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False